body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.scheduler {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.saveNotify {
  display: flex;
  flex-direction: row;
  color: white;
  height: 10 vh;
}

.textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 50 vw;
}

.description {
  white-space: pre-wrap;
  width: 60vw;
}

.time-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 10vw;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.time-block-box {
  display: flex;
  flex-direction: column;
}

.saveBtn,
.fa-solid,
.fa-floppy-disk {
  display: flex;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  width: 7vw;
}

.fa-floppy-disk,
.fa-solid {
  align-items: center;
  justify-content: center;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: #000000;
}